@model TradingPolygon.Models.PersonModel

@{
    ViewData["Title"] = "RegisterUser";
}

<style>

    .bgI {
        background: url(../Images/trading_Image_3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    @@media (min-width: 768px) {
        .bgI {
            background-position: 58.33325% center;
        }
    }
</style>
<body class=" bg-image bgI">
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h3 class="text-uppercase text-center mb-4">Create Account</h3>

                                <form  method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="AddUser">

                                    <div class="form-outline mb-3">
                                        <label asp-for="Name" class="form-label">Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter your Name" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <label asp-for="EmailAddress" class="form-label" for="EmailAddress">Email</label>
                                        <input type="email" id="EmailAddress" name="EmailAddress" class="form-control " placeholder="Enter your Email" />
                                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <label class="form-label" asp-for="Password">Password</label>
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter your Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="PersonImage">Upload Your Image</label>
                                        <input type="file" id="PersonImage" class="form-control pt-1 " name="PersonImage" />
                                        <span asp-validation-for="PersonImage" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex justify-content-center mb-4">
                                        <button type="submit" class="btn btn-success btn-block text-body">Register</button>
                                    </div>

                                    <p class="text-center text-muted  mb-2">Have already an account? <a class="fw-bold text-body" asp-controller="Home" asp-action="LoginUser"><u>Login here</u></a></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>*@